*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
.container{
    display: grid;
    height: 100%;
    width: 100%;
    /*max-width: 1000px;*/
    grid-template-areas: 'header header header'
        'nav nav nav'
        'cobertura cobertura cobertura'
        'carusel carusel carusel'
        'extra extra extra'
        'footer footer footer';
    background-color: #265769;
    grid-template-columns: 200px 200px auto ;
    grid-template-rows: 10% 3%  0.5% auto 30% auto ;
}
.extra{
    grid-area: extra;
    color: #021d27;
    display: block;
    background-image: url(../img/nosotros.jpg);
}
.radius > img{
    border-radius: 2px solid #e6e6e6;
    max-width:300px;
    max-height: 160px;
   margin-right: 30px;
}
.compromisos{
    display: flex;
    justify-content: center;
}
.desenfoque{
    font-weight: 900;
    padding-top: 20px;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    background-color: rgba(130, 163, 182, 0.3);
    backdrop-filter: blur(5px);
 text-align: center;
}

.header{
    grid-area: header;
    background-color: #F6F3F0;

}
.cobertura{
    grid-area:cobertura;
    background-color: #F6F3F0;
   
}
.aa3, .aa{
   text-align: center; 
    color: #F6F3F0;
    font-size: 1.6em;
    text-decoration: none;
    border: 1px solid #5FA49E;
}
.desple{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    color: #F6F3F0;
    background-color: #265769;
    width: 140px;
    height: 95px;
    position: absolute;
    left: 41vw;
    top: 40vh;
    opacity: 1;
}
.aa:hover{
background-color: #5FA49E;
}
.aa3:hover{
    background-color: #5FA49E;
    }

h4{
    text-align: center;
    font-size: 0.9em;
   margin-top: 15px;
}
#obras2{
  background-color: #265769;
 margin: 10px 20px;
 border: 4px solid #5FA49E;
 border-radius: 20px;
  width: 260px;
  height: 300px;
  position: absolute;
  top: 35vh;
  right: 70px;
  color: #F6F3F0;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  opacity: 0;
  transition-duration: 3000ms;
}

.lu{
    font-size: 0.98em;
    text-align: unset;
    display:inline-block;
    margin: 10px;
    position: relative;
    left: 18px ;
    top: 20px;
}
.logo{
    width: 20%;
    height: 100%;
    position: relative;
    top: 0;
    left: 10px;
}


.nav{
    grid-area: nav;
    background-color:  #265769;
 width: 100%;
 height: 70px;
 padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
 height: 100%;
}
nav > #ul{
    height: 100%;
    display: flex;
    justify-content: flex-start;
  
}
nav  > #ul >li{
    height: 100%;
    list-style: none;
    position: relative;
  padding: 20px;
}
nav > #ul >li:first-child> a{
  background-image: url(../img/hogar.png);
  background-size: 24px;
  background-repeat: no-repeat;
  padding: 20px 40px;
  background-position: center center;
}
nav > #ul >li:first-child:hover > a{
    background-image: url(../img/hogar.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    
  }
nav > #ul >li> a{
    width: 100%;
    height: 100%;
   display: flex;
   color: #e6e6e6;
   text-transform: uppercase;
   font-size: 17px;
   transition: all 3000ms ease;
   text-decoration: none;
   padding-bottom: 15px;
   padding-top: 5px;
   padding: 5px;
 justify-content: center;
}
nav > #ul >li> a:hover{
  transform: scale(1.1);
  background:#5FA49E;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#selected{
    transform: scale(1.1);
    background-color:#5FA49E;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
/*submenu*/
nav #ul #li #uul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #F6F3F0;
    box-shadow: 0px 0px 10px 0px;
    position: absolute;
    top: 60px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
  transition: all 300ms ease;
  list-style: none;
}
nav #ul #li:hover #uul{
visibility: visible;
opacity: 1;
top: 60px;
}
nav #ul #li #uul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}
nav #ul #li #uul a{
    display: block;
    color: #265769;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    text-decoration: none;
}
nav #ul #li #uul a:hover{
    background-color: #265769;
    color: #F6F3F0;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.carusel{
    grid-area: carusel;
    background-color: #265769;
}
.footer{
  grid-area: footer; 
  background-color:  #265769; 
}
#flecha{
    font-size: 2.5em;

   color: rgba(82, 100, 109, .5);
    position:fixed;
   right: 1rem;
   bottom: 5.5rem;

}
h1{
    display:flex;
    justify-content: center;
    margin-left: 3em;
    color: #F6F3F0;
    font-size: 1.8em;
box-shadow: #5FA49E;
}
.icocont{
    text-decoration: none;
  color: #F6F3F0; 
  display: block; 
  padding: 0.4em;
  font-size: 1.3em;
}
.card{
    background-color: #265769;
    width: 250px;
    height: 300px;
    position: absolute;
  border: 2px outset #5FA49E;
  border-radius: 20px;
   right: 5px;
   padding: 20px;
   color: #F6F3F0;
   text-align: center;
   cursor: pointer;
}

 h3, p{
    padding: 10px;
    font-size: 1.3em;
}


#wspp{
    color: #00FF00;
    
    font-size: 2.5em;
}
.boton{
    background-color: #40CFFF;
    color: #F6F3F0;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 20px;
    width: 15px;
    height: 100px;
    padding: 5px;
}
.contenedor-portal{
   
    border: 1px solid #5FA49E;
    border-radius: 40px;
    padding: 30px;
    padding-left: 30px;
    padding-right:30px;
     margin-left: 190px;
    position: absolute;
    top: 3%;
    left: 45%;
    background-color: #265769;
    color:#F6F3F0 ;
    font-family: sans-serif;
}
.portal{
    border: 2px solid #5FA49E;
  border-radius: 40px;
  color:#F6F3F0;
  padding: 15px;
  font-family: sans-serif;
  margin-left: 15px;
  text-decoration: none;
}
.portal:hover{
    background-color: #5FA49E;
}
@media  screen and (max-width: 640px){
    .container{
        grid-template-areas: 'header header header'
        'nav nav nav'
        ' cobertura cobertura cobertura'
        'carusel carusel  carusel'
        'extra extra extra'
        'footer footer footer';  
        grid-template-columns: auto auto auto ;
        grid-template-rows: 5% 2%  0.5% auto auto auto;
    }
     h1{
      justify-content: start;
    }
    .contenedor-portal{
        padding: 12px; 
        position: absolute;
        top: 2px;
        left: 30%;
        width: 200px;
        height: 100px;
        margin-left: 15px;
       
        
    }
    .portal{
        width: 150px;
        height: 30px;
        padding: 5px; 
        margin-top: 3px;
        display:block; 
    }
    .carusel{
     width: 100vw;
     height:100%;
    }
    .carrusel > img{
        max-width: 100vw;
    }
    .nav{
        display: flex; 
        justify-content: flex-start;
        font-size:15px;
      padding: unset;
    }
    nav > #ul >li {
        padding: 0px;
    }
    nav > #ul >li> a {
        font-size: 13px;
        width: 90%;
        height: 90%;
    }
    .card{
        padding: 2px;
        width: 200px;
        height: 250px;
    }
    .boton{
        width: 10px;
        height: 90px;
        padding: 3px;
    }
    #obrassoc{
        text-align: center;
    }
    .icocont, 
    .desenfoque{
        width: 100vw;
        font-size: 1.2em;
    }
    .compromisos{
        display: block;
    }
    .radius > img{
        border-radius: 2px solid #e6e6e6;
        max-width:200px;
        max-height: 100px;
       margin-right: 30px;
    }
    .desple{
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        color: #F6F3F0;
        background-color: #265769;
        width: 100px;
        height: 60px;
        position: absolute;
        left: 30vw;
        top: 28vh;
        opacity: 1;
    }
    .aa3, .aa{
        text-align: center; 
         color: #F6F3F0;
         font-size: 1em;
         text-decoration: none;
         border: 1px solid #5FA49E;
     }
     nav > #ul >li:first-child> a{
        padding: 20px;
     }
    } 
@media screen and (min-width: 640px)  and (max-width: 1280px){
    .container{
        grid-template-areas: 'header header header'
        'nav nav nav'
        'cobertura cobertura cobertura'
        'carusel carusel  carusel'
        'extra extra extra'
        'footer footer footer';  
        grid-template-columns: auto auto auto ;
        grid-template-rows: 5% 2%  0.5% auto auto auto;
    } 
    .contenedor-portal{
      padding-right: 0px;
      margin-left: 0px;
      position: absolute;
      top: 1.5%;
      left: 30%;
      padding: 20px;
        
    }
    .portal{
        padding: 10px ;
        margin-left: 0px;
    }
    
    h3, p{
        font-size: 1.1em;
    }
    nav > #ul >li{
        padding: 6px;
    }
    .carusel{
         width: 98.75vw;
         height:80vh;
    }
    .card{
        padding: 2px;
        width: 200px;
        height: 250px;
    }
    .boton{
        width: 10px;
        height: 90px;
        padding: 3px;
    }
    .nav{
        display: flex; 
        justify-content: flex-start;
        font-size:15px;
      padding: unset;
    }

    nav > #ul >li:first-child> a{
        padding: 20px;
    }
    .radius > img{
        max-width: 200px;
        max-height: 120px;
        margin-right: 20px;
    }
    .desenfoque{
        font-size: 1.1em;
    }
    nav > #ul >li> a{
        height: 70%;
    }
}